.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/doc
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
.idea/scopes/scope_settings.xml
.idea/encodings.xml
