<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fmc.edu"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/> -->


    <!-- 允许应用打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:name=".FmcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.TransparencyDemo">
        <meta-data
            android:name="com.fmc.edu.service_host"
            android:value="http://182.92.98.174/dev/" />
        <meta-data
            android:name="com.fmc.edu.is_development"
            android:value="false" />
        <meta-data
            android:name="com.fmc.edu.page_size"
            android:value="10" />
        <meta-data
            android:name="com.fmc.edu.two"
            android:value="true" />
        <meta-data
            android:name="com.fmc.edu.three"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RelatedInfoActivity"
            android:label="@string/title_activity_related_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchoolDynamicActivity"
            android:label="@string/title_activity_school_dynamic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KidSchoolActivity"
            android:label="@string/title_activity_kid_school"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyPasswordActivity"
            android:label="@string/title_activity_modify_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuditingActivity"
            android:label="@string/title_activity_auditing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WaitAuditActivity"
            android:label="@string/title_activity_wait_audit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"></activity>
        <activity
            android:name=".TeacherInfoActivity"
            android:label="@string/title_activity_teacher_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageNoticeSettingActivity"
            android:label="@string/title_activity_message_notice_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClassDynamicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_class_dynamic"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".PublishDynamicActivity"
            android:label="@string/title_activity_publish_dynamic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DynamicDetailActivity"
            android:label="@string/title_activity_dynamic_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiPictureActivity"
            android:label="@string/title_activity_multi_picture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskListActivity"
            android:label="@string/title_activity_parenting_edu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskDetailActivity"
            android:label="@string/title_activity_task_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntelligentLocationActivity"
            android:label="@string/title_activity_intelligent_location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BraceletIntroduceActivity"
            android:label="@string/title_activity_bracelet_introduce"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SyllabusActivity"
            android:label="@string/title_activity_syllabus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusActivity"
            android:label="@string/title_activity_campus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusDetailActivity"
            android:label="@string/title_activity_campus_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskListSearchActivity"
            android:label="@string/title_activity_task_list_search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartPageActivity"
            android:label="@string/title_activity_start_page"></activity>
    </application>

</manifest>
